<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\crp.app1.webapi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		  <environmentVariables>
			<environmentVariable name="OTEL_SERVICE_NAME" value="crp.app1.webapi" />
			<environmentVariable name="OTEL_DOTNET_AUTO_TRACES_INSTRUMENTATION_ENABLED" value="true" />
			<environmentVariable name="OTEL_DOTNET_AUTO_METRICS_INSTRUMENTATION_ENABLED" value="true" />
			<environmentVariable name="OTEL_DOTNET_AUTO_LOGS_INSTRUMENTATION_ENABLED" value="true" />
			<environmentVariable name="OTEL_DOTNET_AUTO_LOG_DIRECTORY" value="D:\\ASXLogs\\ASX.CRP.RiskApp.API.log" />
			<environmentVariable name="OTEL_LOG_LEVEL" value="Informationi" />
			<environmentVariable name="OTEL_TRACES_EXPORTER" value="otlp" />
			<environmentVariable name="OTEL_EXPORTER_OTLP_ENDPOINT" value="http://localhost:4318" />			  
		  </environmentVariables>	  
	  </aspNetCore>	  
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D475EC34-BAA8-48A5-B0AC-835422E8E9F1-->